@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the generic video game order system. Please select the tab you would like to navigate to from above.</p>
</div>
